body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.basic-block {
    padding: 50px 0;
    text-align: center;

}

.head-block {
    background-image: url("../img/Layer 21@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 530px;
    padding-left: 190px;
    padding-bottom: 145px;
    color: #fff;
}

.head-block-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
}

.head-block-subtitle {
    margin: 0 0 25px;
    font-size: 18px;
}

.head-block-slogan {
    padding: 45px 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px white solid;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 700;
}

.slogan-margin {
    margin-right: 50px;
}

.yellow-text {
    color: #f1ad1d;
}

.basic-title {
    margin-bottom: 35px;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
}

.basic-subtitle {
    font-size: 17px;
    color: #333333;
}

.orange-line {
    margin: 50px auto;
    border: 2px solid #f1ad1d;
    width: 60px;
}

.web-award-img {
    margin: 0 auto;
    height: 270px;
    width: 400px;
    background-image: url("../img/web_award@1X.png");
}

.navbar-menu {
    display: inline-block;
    list-style: none;
    width: 89%;
    text-align: right;
    list-style: none;
    /*border-bottom: 2px solid #f1ad1d;*/
}

.navbar-logo {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    font-size: 36px;
    color: #f1ad1d;
    font-weight: 700;
    text-transform: uppercase;
}

nav.container {
    text-transform: uppercase;
}


.navbar-menu-item {
    display: inline-block;
}
.navbar-menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #333;
}
